.logo{
    text-align: center;
}

header{
    background-color: #17072b;
    width: 100%;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: 1.2rem;
    transition: 0.4s ease;
}

body{ 
    font-family: Arial;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

main aside{
    background-color: #172d67;
    float: right;
    width: 30%;
    padding: 20px;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
}

.Image {
    display: flex;
    gap: 10px;
}

.computer{
    float: left;
    width: 33.33%;
    padding: 5px;
    flex: 1;
}

footer{
    background-color: #8c15e9;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}