* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling*/ 
body { 
    font-family: Arial;
    line-height: 1.6; /* Increasing Line Spacing*/
    background-color: #0f0b44; /*Background color*/
    color: #fff;  /* Color for contrst*/
}

/* Header Styling*/
header {
    background-color: #0f0941;
    padding: 10px 0; /* Padding provides space between elements and its border*/
    position: fixed;/* Header to stay at the top of the page */
    width: 100%; /* For the header to stretch to the width of the page*/
    top: 0; /*To postion the header at the top*/
    z-index: 1000; /*The header stay on top of other elements*/
}

/*Navigation Styling */
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
}

/*Nav text styling*/
ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    transition: 0.4s ease;
}

/*The nav will change color when close to it*/
nav ul li a:hover{
    color: #0c0d49;
}

/*Section Styling*/
section {
    padding: 2rem;
    margin-top: 10px; 
    background-color: #282828;
    border-bottom: 2px solid #444;
}

ul {
    margin-top: 1rem;
}

